@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@400;700&display=swap');

body{
    min-height: 100vh;
    background-color: white;
    background-image: linear-gradient(-135deg, #e2e2e2, white, #e2e2e2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

html{
    font-family: 'Roboto Slab', serif;
    color: #5d5d5d;
}

.header .titulo{
    font-weight: 700;
    letter-spacing: 2px;
    /* background-color: chocolate; */
}

.conteiner{
    /* background-color: cadetblue; */
    padding: 0 25px;
    /* margin: 20px; apenas no responsivo */
    width: 1000px;
}

.conteiner > p{
    width: 400px;
    padding: 15px;
}

h1, h3{
    margin: 10px 0 20px;
    padding: 0 15px;
}

.conteiner-entrada-frase textarea{
    display: block;
    border-radius: 12px;
    padding: 15px;
}

.conteiner-entrada-frase .span{
    font-style: italic;
    font-size: 14px;
    margin: 5px;
}

.conteiner-entrada-frase .btn{
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
}

.conteiner-frases .conteiner-saida-frase{
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.conteiner-frases .conteiner-saida-frase h3{
    margin-bottom: 30px;
    margin-left: 60px;
    align-self: center;
}

.conteiner-frases .conteiner-saida-frase .resultado{
    margin: 0 20px 30px;
    outline: 5px solid rgb(231, 231, 231);
    outline-offset: 20px;
    width: 450px;
    height: 110px;
    border-radius: 20px;
    position: relative;
    padding: 10px 20px 0;
}

.conteiner-frases .resultado .aspas{
    font-size: 40px;
    color: #93e327;
}

.conteiner-frases .resultado .aspas.fa-quote-left{
    position: absolute;
    transform: rotateY(180deg) rotate(180deg);
    top: -35px;
    left: 0;
    background-color: white;
}

.conteiner-saida-frase .resultado p{
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    font-weight: 400;
}

.conteiner-saida-frase .resultado .btn-copiar{
    color: #93e327;
    background-color: white;
    font-size: 40px;
    position: absolute;
    right: 2%;
    bottom: -40px;
    cursor: pointer;
    border: transparent;
}