@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@400;700&display=swap');

body{
    min-height: 100vh;
    background-image: url(../images/bg-projeto.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

body::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -1;
}

html{
    font-family: 'Roboto Slab', serif;
    color: #5d5d5d;
    color: rgba(255, 255, 255, 0.7);
}

.header .titulo{
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.conteiner{
    border-top: 1px solid #00cfe6;
    padding: 0 25px;
    width: 1000px;
}

.conteiner > p{
    width: 400px;
    padding: 15px 0;
}

.conteiner-frases {
    display: grid;
    grid:
    "conteiner-entrada ."
    ". conteiner-saida"
    / 480px 480px;
}

.conteiner-frases .conteiner-entrada-frase {grid-area: conteiner-entrada;}

.conteiner-entrada-frase textarea{
    border-radius: 12px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: .2s linear;
    color: white;
}

.conteiner-entrada-frase textarea::placeholder{color: white;}

.conteiner-entrada-frase textarea:focus{background-color: rgba(255, 255, 255, 0.45);}

.conteiner-entrada-frase .span{
    font-style: italic;
    font-size: 14px;
}

.conteiner-entrada-frase .btn{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: transparent;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    margin-right: 20px;
    width: 102px;
    transition: .2s linear;
    overflow: hidden;
    position: relative;
}

.conteiner-entrada-frase .btn:hover{letter-spacing: 1px;}

.conteiner-entrada-frase .btn::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 130%;
    height: 160%;
    background-color: hsla(283, 74%, 24%, 0.6);
    z-index: 1;
    transform-origin: bottom left;
    transform: skew(40deg) translateX(-92%) translateY(40%);
    transition: all .3s linear;
}

.conteiner-entrada-frase .btn:hover::after{
    transform: skew(-40deg) translateX(62%) translateY(30%);
}

.conteiner-frases .conteiner-saida-frase {grid-area: conteiner-saida;}

.conteiner-frases .conteiner-saida-frase .resultado{
    margin: 38px 20px 0;
    outline: 5px solid #ffffff73;
    outline-offset: 20px;
    width: 450px;
    height: 120px;
    border-radius: 20px;
    position: relative;
    padding: 10px 20px 0;
    background-color: hsla(0, 0%, 100%, 0.3);
    box-shadow: -6px -9px 19px rgba(255, 255, 255, 0.3), 8px 9px 19px rgba(255, 255, 255, 0.3);
}

.conteiner-frases .resultado .aspas{
    font-size: 40px;
    color: white;
    position: absolute;
    transform: rotateY(180deg) rotate(180deg);
    top: -35px;
    left: 0;
    background-color: transparent;
}

.conteiner-saida-frase .resultado p{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 400;
}

.conteiner-saida-frase .resultado .btn-copiar{
    color: white;
    background-color: transparent;
    font-size: 40px;
    position: absolute;
    right: 2%;
    bottom: -40px;
    cursor: pointer;
    border: transparent;
}

.conteiner-saida-frase .resultado .btn-copiar.ativar-animacao .fa-copy{animation: efeito .5s;}

@keyframes efeito{
    0%{
        transform: scale(1.1);
        opacity: .7;
    }
    45%{
        transform: scale(1.4);
    }
    85%{
        color: #00E4FF;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}